body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  background: linear-gradient(130deg, rgb(53,92,125), rgb(108,91,123), rgb(192,108,132));
  color: white;
}

main {
  max-width: 600px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 1.85rem;
}

h1, p {
  margin-bottom: 40px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
}

#links-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 25px;
  justify-items: center;
}

#links-container a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
  text-decoration: none;
  color: inherit;
  width: 100%;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border: solid 1.25px white;
  border-radius: 6px;
}

#first-link:hover {
  background-color: rgba(255,255,255,0.85);
  border: solid 1.25px rgba(255,255,255,0.85);
  color: rgb(53,92,125);
}

#second-link:hover {
  background-color: rgba(255,255,255,0.70);
  border: solid 1.25px rgba(255,255,255,0.70);
  color: rgb(108,91,123);
}

#third-link:hover {
  background-color: rgba(255,255,255,0.55);
  border: solid 1.25px rgba(255,255,255,0.55);
  color: rgb(53,92,125);
}
